.card {
  background-color: #2f1e1b;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-left: 0.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.img_menu {
  border-radius: 15%;
  border: 3px solid #b88648;
  width: 100%;
  height: 125px;
  object-fit: cover;
}

.menu_price {
  color: #b88648;
  text-align: center;
  margin-top: 10px;
}

.menu_title {
  color: #fff;
  margin-bottom: 10px;
}

.menu_desc {
  color: #ccc;
}
