.product_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 50px;
  background: linear-gradient(rgba(51, 33, 29, 0.9), rgba(51, 33, 29, 0.9)), url("/images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.product_img {
  width: 80%;
  max-width: 350px;
  border-radius: 30px;
}

.product_details {
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.product_title {
  font-size: 2.5rem;
}

.product_hr {
  border-color: white;
}

.stars {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 1rem;
  font-size: 2rem;
}

.fill_star {
  color: orange;
}

.empty_star {
  color: #fff;
}

.price_details {
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 1.8rem;
  color: white;
  margin-top: 1rem;
}

.discount_price {
  color: #da9f5b;
}

.original_price {
  text-decoration: line-through;
  color: red;
}

.shopping_btn {
  width: 80%;
  padding: 0.7rem;
  text-align: center;
  margin-top: 2rem;
  color: white;
  border: none;
  border-radius: 10px;
  background: #4f3319;
}

.shopping_btn:hover {
  opacity: 0.8;
  transition: 0.2s ease-in-out;
}

.product_desc {
  font-size: 1.2rem;
  color: #fff;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .product_main {
    flex-direction: row;
  }

  .product_details {
    width: 500px;
  }

  .product_img {
    width: 350px;
  }
}
