@font-face {
  font-family: 'vazir-black';
  src: url('/fonts/Vazirmatn-FD-Black.woff2') format('woff');
}

@font-face {
  font-family: 'vazir-bold';
  src: url('/fonts/Vazirmatn-FD-Bold.woff2') format('woff');
}

@font-face {
  font-family: 'vazir-ExtraBold';
  src: url('/fonts/Vazirmatn-FD-ExtraBold.woff2') format('woff');
}

@font-face {
  font-family: 'vazir-ExtraLight';
  src: url('/fonts/Vazirmatn-FD-ExtraLight.woff2') format('woff');
}

@font-face {
  font-family: 'vazir-light';
  src: url('/fonts/Vazirmatn-FD-Light.woff2') format('woff');
}

@font-face {
  font-family: 'vazir-medium';
  src: url('/fonts/Vazirmatn-FD-Medium.woff2') format('woff');
}

@font-face {
  font-family: 'vazir-regular';
  src: url('/fonts/Vazirmatn-FD-Regular.woff2') format('woff');
}

@font-face {
  font-family: 'vazir-thin';
  src: url('/fonts/Vazirmatn-FD-Thin.woff2') format('woff');
}


